body
{
    font-family: 'Segoe UI', sans-serif;
    padding: 0;
    overflow: hidden;       
}

.topbar {
    background: #444f55;
    border-bottom: 3px solid #ff9600;
    width: 100%;
    height: 155px;
    display: block;
    z-index: 200;
    position: absolute;
}

.routeResponseDisplay {
    top: 155px;
    position: absolute;
}

.routeResponseDisplay DIV.selected {
    background: #ff9600;
    color: black;
}
.routeResponseDisplay DIV {
    float: left;
    cursor: pointer;
    background: #444f55;
    padding: 5px 10px;
    font-family: arial;
    font-weight: bold;
    opacity: 0.9;;
    color: white;
}
.routeResponseDisplay DIV:last-child {
    border-radius: 0 0 10px 0;
}

.selectedRouteDisplay {
    position: absolute;
    top: 205px;
    background: white;
    border-radius: 0 0 10px 0;
    opacity: 0.9;
    font-size: 11px;
    max-height: 400px;
    overflow: scroll;
}
.selectedRouteDisplay DIV
{
    padding: 4px;
}

.selectedRouteDisplay DIV DIV {
    float: left;
    margin: 0 10px;
}

.routestats {
    padding-left: 15px;
}
.routestats IMG {
    margin-left: 10px;
}

.routestats .nullutslippszone{
    background-color: lightpink; margin-top: 10px; padding: 3px; border-radius: 5px;font-weight: bold;float: initial;
}
.routestats .bomstasjonnorebate {
    background-color: lightpink; margin-top: 10px; padding: 3px; border-radius: 5px;font-weight: bold;float:initial;
}

.signpost {
    font-weight: bold;
    padding: 1px 3px !important;
    border-radius: 5px;
    border: 1px solid gray;
}

.signpost.signpost-E {
    background: green;
    color: white;
}
.signpost.signpost-R {
    background: #ff9600;
    color: black;
}
.signpost.signpost-F {
    background: #ff9600;
    color: black;
}

.signpost.signpost-K {
    background: white;
    color: black;
}
.signpost.signpost-P {
    background: white;
    color: black;
}
.signpost.signpost-S {
    background: white;
    color: black;
}


.modal-custom-lg.modal-dialog {
    width: 90%;
    height: 90%;
    max-width: 90% !important;
}

.modal-content IFRAME {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.modal-custom-lg .modal-content {
    width: 100%;
    height: 100%;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0px;
    z-index: 0;
}

#searchbar h1 {
    font-size: 18px;
}
#searchbar {
    color: #fff;
    padding-left: 10px;
    width: 50%;
    font-size: 12px;
    display: inline-block;
    vertical-align: top;
}

.settingspane {
    position: relative;
    display: inline-block;
    width: 50%;
    padding-left: 20px;
    vertical-align: top;
    font-size: 12px;
}

.react-tabs__tab-panel {
    background: white;
    height: 115px;
    padding: 10px;
    overflow: auto;
}

.react-tabs__tab-list {
    margin: 0 !important;
}
.react-tabs__tab {
    background: gray !important;
    border: 1px solid black !important;
}
.react-tabs__tab--selected {
    background: #ff9600 !important;
}

.settingspane input {
    background-color: #f5f5f5;
    cursor: text;
    min-height: 15px;
    overflow: auto;
    padding: 0px 0px 0px 5px;
    border: 0;
    font-size: 12px;
    font-weight: bold;
    color: #444f55;
    border-radius: 4px;
    -moz-border-radius: 4px;
    width: 30px;
}

.settingrow span {
    display: inline-block;
    
}

.settingrow {
    margin: 2px 0;
}

.settingrow.longrow {
    display: table;
    width: 100%;
}

.settingrow.longrow input {
    display: table-cell;
    width: 100%;
}

.settingrow.longrow label {
    display: table-cell;
    width: 70px;
}


