<!DOCTYPE html>
<html ng-app="debugApp">
<head>
</head>
<body>

<h1>Debug stuffs</h1>

<h2>Compressed geometry</h2>

<div ng-controller="geometryController">
    <form>
        <textarea type="text" ng-model="geometry" rows="5" cols="80"></textarea><br/>
        <button ng-click="decompress(geometry)">Decompress</button>
        <pre>{{ decompressedGeometry }}</pre>
    </form>
</div>

<h2>Shared data</h2>

<div ng-controller="sharedDataTrigger">
    <input type="text" ng-model="message"/>
    <button ng-click="handleClick(message)">Click</button>
</div>

<div ng-controller="sharedDataController1">
    <pre>{{message}}</pre>
</div>

<div ng-controller="sharedDataController2">
    <pre>{{message}}</pre>
</div>

<script src="lib/angular/angular.js"></script>
<script src="js/helpers/CompressedGeometryHelper.js"></script>

<script>

    var app = angular.module("debugApp", []);

    app.controller("geometryController", function($scope) {
        $scope.geometry = "+34+p06kg+jq450o+cg+ls+ls+s4+ls+io+12c+fk+io+0+18k-68+1o8-io+2kc-18k+1bo-p0+12c-12c+p0-30s";
        $scope.decompressedGeometry = "";

        $scope.decompress = function(geometry) {
            try {
                var points = SVV.Ruteplan.Helpers.CompressedGeometryHelper.extractPointsFromCompressedGeometry(geometry);
                $scope.decompressedGeometry = JSON.stringify(points, null, "\t");
            } catch (err) {
                $scope.decompressedGeometry = "" + err;
            }
        };
    });

    app.controller("sharedDataTrigger", function($scope, sharedData) {
        $scope.handleClick = function(message) {
            sharedData.doBroadcast(message);
        };

        $scope.$on("handleBroadcast", function() {
            $scope.message = sharedData.message;
        });
    });

    app.controller("sharedDataController1", function($scope, sharedData) {
        $scope.$on("handleBroadcast", function() {
            $scope.message = "Controller1: " + sharedData.message;
        });
    });

    app.controller("sharedDataController2", function($scope, sharedData) {
        $scope.$on("handleBroadcast", function() {
            $scope.message = "Controller2: " + sharedData.message;
        });
    });

    app.factory("sharedData", function($rootScope) {
        var stuff = {};
        stuff.message = "test123";

        stuff.doBroadcast = function(message) {
            this.message = message;
            $rootScope.$broadcast("handleBroadcast");
        };

        return stuff;
    });

</script>

</body>

</html>
