################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Ruteplanwebb/Ruteplanwebb/bin
/Ruteplanwebb/Ruteplanwebb/obj/Debug
/Ruteplanwebb/packages
/Ruteplanwebb/Ruteplanwebb/js/app.js.map
/Ruteplanwebb/Ruteplanwebb/js/app.js
/Ruteplanwebb/Ruteplanwebb/js/Controllers.js.map
/Ruteplanwebb/Ruteplanwebb/js/Controllers.js
