# ignore js files in these folders, we're using typescript (*.ts)
/js/**/*.js
/js/**/*.js.map
/tests/**/*.js
/tests/**/*.js.map

/node_modules/*

!/node_modules/angular
!/node_modules/angular-ui-bootstrap
!/node_modules/angular-ui-router
!/node_modules/angular-cookies
!/node_modules/leaflet
!/node_modules/angular-sanitize
!/node_modules/typescript
!/node_modules/angular-resource
!/node_modules/proj4leaflet
!/node_modules/leaflet-contextmenu
!/node_modules/leaflet-geometryutil
!/node_modules/tokml



*.orig

