﻿
<div id="searchbar">
    <div><b>Ruteplan demo</b><br/>
        Fra: <input type="text" id="searchFrom" ng-model="fromAddress"
       data-typeahead="address as address.name for address in getLocations($viewValue) | filter:$viewValue"
       data-typeahead-editable="false"
       data-typeahead-on-select="updateMarkers()" />
        Til: <input type="text" id="searchTo" ng-model="toAddress"
       data-typeahead="address as address.name for address in getLocations($viewValue) | filter:$viewValue"
       data-typeahead-editable="false"
       data-typeahead-on-select="updateMarkers()" />
        <input id="searchbutton" type="button" value="Søk" ng-click="doRouteCalculation()"/></div>
</div>

<div data-map data-context-menu="contextMenuOpened" id="map" data-target="mapMenu">
</div>
<div class="dropdown" style="position: absolute"  id="mapMenu">
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation">
            <a style="cursor: pointer" role="menuitem" tabindex="-1" ng-click="contextMenuSetFrom(contextMenuLocation)"><i class="fa fa-play" style="color: green;margin-right: 5px"></i> Sett startpunkt</a>
        </li>
        <li role="presentation" ng-show="fromAddress && toAddress">
            <a style="cursor: pointer" role="menuitem" tabindex="-1" ng-click="contextMenuAddIntermediate(contextMenuLocation)"><i class="fa fa-pause" style="color: rgb(238,146,46); margin-right: 5px"></i> Legg til viapunkt</a>
        </li>
        <li role="presentation">
            <a style="cursor: pointer" role="menuitem" tabindex="-1" ng-click="contextMenuBlockPoint(contextMenuLocation)"><i style="color: rgb(238,146,46); margin-right: 5px"></i> Blokker punkt</a>
        </li>
        <li role="presentation">
            <a style="cursor: pointer" role="menuitem" tabindex="-1" ng-click="toggleMapControl('polygon')"><i style="color: rgb(238,146,46); margin-right: 5px"></i> Blokker område</a>
        </li>
        <li role="presentation">
            <a style="cursor: pointer" role="menuitem" tabindex="-1" ng-click="contextMenuSetTo(contextMenuLocation)"><i class="fa fa-stop" style="color: red;margin-right: 5px"></i> Sett Sluttpunkt</a>
        </li>
    </ul>
</div>
<div id="routedesc">
    <h4>
        Rute
        <span id="reverse-order-button" ng-show="fromAddress && toAddress" class="fa fa-random" style="padding-left: 20px; color: darkblue;" ng-click="reverseRoute()"></span>
        <span id="remove-blocks-button" ng-show="hasBlocks()" class="fa fa-trash-o" style="padding-left: 20px; color: darkblue;" ng-click="removeBlocks()"></span>
    </h4>

    <ul id="route-header-list">
        <li ng-show="fromAddress">
            {{ fromAddress.name }}, {{ fromAddress.location.lon | round }}, {{ fromAddress.location.lat | round }} <br/>
        </li>
        <li class="intermediate" ng-repeat="addr in intermediateAddresses">
            {{ addr.name }}, {{ addr.location.lon | round }}, {{ addr.location.lat | round }}
            <span id="remove-intermediate-button" class="fa fa-times" ng-click="removeIntermediate(addr)"></span>
        </li>

        <li ng-show="toAddress">{{ toAddress.name }}, {{ toAddress.location.lon | round }}, {{ toAddress.location.lat | round }}</li>
    </ul>

    <br/>

    <div id="calculation-in-progress-marker" ng-show="directions == null && fromAddress && toAddress">
        <img src="images/ajax-loader.gif" />
    </div>

    <ul id="route-list" ng-show="directions != null">
        <li ng-repeat="direction in directions" ng-click="selectRoute(direction.routeId)">
            <div class="routedesc" ng-class="{active:showRoute(direction.routeId)}">
                <div class=" routeheader" style="position: relative">
                    <div style="position: absolute; right: 0"><a download="route.kml" ng-click="downloadRouteAsKML(direction.routeId,$event)" class="fa fa-cloud-download tool download"></a><i class="fa fa-search tool zoom" ng-click="zoomToDirection(direction.routeId);"></i></div>
                    <div class="route-item-name">{{ direction.routeName }}</div>
                    <span class="route-item-info">{{ direction.summary.totalTime | time }}, {{ direction.summary.totalLength | distance }}</span>
                </div>
                <div class="routestats">
                    <img src="/images/car-icon.png" height="20" /> {{direction.TotalTollSmall}}kr
                    <img src="/images/Truck-icon.png" height="20" /> {{direction.TotalTollLarge}}kr
                    </div>

                    <ul id="route-desc-list" ng-show="showRoute(direction.routeId)">
                        <li ng-repeat="feature in direction.features">
                            <div><div class="signpost signpost-{{feature.roadCat}}">{{feature.roadCat}}{{feature.roadNumber}}</div> {{feature.attributes.text}}</div>
                        </li>
                    </ul>
                </div>
        </li>
    </ul>
</div>

<div style="position: absolute; top: 0; right: 0; z-index: 9999; margin: 10px" ng-controller="SettingsController">
    <script type="text/ng-template" id="settings.html">
        <div class="modal-header">
            <h3 class="modal-title">Innstillinger</h3>
        </div>
        <div class="modal-body">
            <div>URL til rutetjeneste:</div>
            <input style="width: 100%" type="text" name="url"/>
            <div>Brukernavn:</div>
            <input style="width: 100%" type="text" name="username"/>
            <div>Passord:</div>
            <input style="width: 100%" type="text" name="password"/>
        </div>
        <div class="modal-footer">
            <button ng-click="ok()">OK</button>
            <button ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <button ng-click="open()">Innstillinger</button>
</div>
