body
{
    font-family: 'Segoe UI', sans-serif;
    padding: 0;
    overflow: hidden;
       
}

span {
    font-style: italic
}

#map {
    position: absolute;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 400px;
    background: #000;
    z-index: 0;
}

.mo_featureType {
    font-size: 14px; 
    font-weight:bold;
    font-style: normal;
    text-transform: uppercase;
}

#mouseoverinfo {
    position: absolute;
    left: 0;
    right: 400px;
    -ms-opacity: 0.9;
    opacity: 0.9;    
    background-color: white;
    padding: 3px 10px;
    border-top: 1px solid gray;
}

.mouseoverinfonotvisible {
    bottom: -200px; 
    transition: bottom 0.1s;
    height: 0;
}
.mouseoverinfovisible {
    transition: bottom 0.1s;
    bottom: 0;
    height: 200px;
}

#route-header-list {
    list-style: none;
    padding: 0;
}

#route-header-list > li::before  {
    color: grey;
    font-family: FontAwesome;
    box-sizing: border-box;
    padding-right: 3px;
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#route-header-list > li:first-child::before {
    content: "\f144";
    color: green;
}

#route-header-list > li.intermediate::before {
    content: "\f04c";
    color: rgb(238,146,46);
}

#route-header-list > li:last-child::before {
    content: "\f192";
    color: red;
}

#reverse-order-button {
}

#reverse-order-button:hover {
    text-shadow: 0.1em 0.1em 0.05em #333;
    transition: text-shadow 1s;
    cursor: pointer;
}

#remove-intermediate-button {
    color: darkblue;
    cursor: pointer;
}
#remove-intermediate-button:hover {
    text-shadow: 0.1em 0.1em 0.05em #333;
    transition: text-shadow 1s;
    cursor: pointer;
}

#remove-blocks-button {

}
#remove-blocks-button:hover {
    text-shadow: 0.1em 0.1em 0.05em #333;
    transition: text-shadow 1s;
    cursor: pointer;
}

#routedesc {
    position: absolute;
    top: 100px;
    bottom: 0;
    right: 0;
    width: 400px;
    z-index: 1;
    background: #ffffff;
    padding: 10px;
    overflow: scroll;
}

#searchbar DIV {
    padding: 10px;

}
#searchbar {
    position: absolute;
    color: #fff;
    z-index: 200;
    background: #444f55;
    right: 0;
    left: 0;
    top: 0;
    height: 100px;
    width: 100%;
    border-bottom: 3px solid #ff9600;
}

.coordinatedisplayer {
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 300;
}

#searchbar input {
     background-color: #f5f5f5;
     cursor: text;
     min-height: 35px;
     overflow: auto;
     padding: 2px 26px 2px 2px;
     border: 0;
     margin: 10px;
     width: 300px;
     font-size: 14px;
     font-weight: bold;
     color: #444f55;
     border-radius: 4px;
     -moz-border-radius: 4px;
}

.dropdown-menu {
    position: absolute;
    background: #f5f5f5;
    border-bottom: 3px solid #ff9600;
    color: #444f55;
    cursor: pointer;
}

#searchbutton {
    width: 75px !important;
    cursor: pointer !important;
    text-align: center !important;
    padding: 2px !important;
}

#route-list {
    list-style: none;
    padding: 0;
}

#route-desc-list {
    list-style: none;
    padding: 0;
    list-style-type: none;
}



.routeheader {
    padding: 0.5em;
    background-color: lightgray;
    border: 1px darkgray solid;
    border-radius: 3px;
    -moz-border-radius: 3px;
    cursor: pointer;
}

.active .routeheader{
    background-color: black !important;
    border: 0;
    border-bottom-color: transparent;
    color: white;
    font-weight: bold;
    
}

.active {
    background-color: #f5f5f5;
    border: 1px solid lightgray;
    color:black;
    border-radius: 3px;
    -moz-border-radius: 3px;
}
.routestats {
    padding: 5px;
    border-bottom: 1px solid darkgray;
}
.routedesc {
    margin-bottom: 5px;
}

#route-desc-list li {
    border: 1px transparent dotted;
    border-bottom-color: darkgray;
    padding-left: 5px;
}

#route-desc-list li:hover {
    background-color: lightgray;
    cursor: pointer;
}

.route-item-name {
    font-size: 1.1em;
    font-weight: bold;
}

.routeheader .tool {
    padding: 4px;
    color: white;
    text-decoration: none;
}

.routeheader .tool:hover {
    font-size: 120%;
    color: black;
}

.active .routeheader .tool:hover {
    font-size: 120%;
    color: #f0e68c; 
}

.routeheader .tool.zoom:hover:after {
    content: "Zoom til";
    font-family: 'Segoe UI', sans-serif;
    margin-left: 3px;
}
.routeheader .tool.download:hover:after {
    font-family: 'Segoe UI', sans-serif;
    content: "Last ned";
    margin-left: 3px;
}

.signpost {
    border-radius: 2px;
    -moz-border-radius: 2px;
    padding: 3px;
    display: inline-block;
    margin: 3px;
    margin-left: 0;
    border: 1px solid gray;
    font-size:10px;
}
.signpost-E {
    background-color: #228b22;
    color: white;
}
.signpost-R {
    background-color: white;
    color: black;
}

.signpost-F {
    background-color: white;
    color: black;
}

.signpost-K {
    visibility: hidden;
    display: none;
}

.signpost-P {
    visibility: hidden;
    display: none;
}

.signpost-S {
    visibility: hidden;
    display: none;
}

#settings-button:hover {
    cursor: pointer;
}
